@model DbMvc.Models.Entity.Tbl_Skills
@{
    ViewBag.Title = "YetenekDuzenle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h4>Yetenek Duzenleme Sayfası</h4>
<br />
<form method="post">
    @Html.Label("Yetenek")
    @Html.TextBoxFor(x => x.skill, new { @class = "form-control" })<br />
    @Html.Label("Yüzde")
    @Html.TextBoxFor(x => x.rate, new { @class = "form-control" })<br />
    <br />
    <button class="btn btn-success">Güncelle</button>
</form>



