
@{
    ViewBag.Title = "DeneyimEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h4>Yeni Deneyim Ekleme Sayfası</h4>
<br />
<form method="post">
    <input type="text" name="title" class="form-control" placeholder="Başlığı Yazınız..." /><br />
    <input type="text" name="subtitle" class="form-control" placeholder="Alt Başlık Giriniz..." /><br />
    <input type="text" name="date" class="form-control" placeholder="Çalışma Tarihi Giriniz..." /><br />
    <textarea placeholder="Açıklamanızı Giriniz" name="comment" class="form-control" rows="5"></textarea><br />
    <button class="btn btn-info">Kaydet</button>
</form>

